<!DOCTYPE html>
<html sg-view="tekgenesis.service.html.Views" sg-params="content : Html">
<head>
    <title>Parent Template</title>
</head>
<body>

<h1>Include</h1>

{{>html/mustache/sui-subtemplate}}

{{#sg-include}}content{{/sg-include}}

</body>
</html>
