<!DOCTYPE html>
<html>
<head>
    <title>{{title}} Documentation</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="utf-8">

    <style>
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        body {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
        }
        h1 {
            font-size: 2em;
            margin: 0.67em 0;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
        }
        a {
            color: #337ab7;
            text-decoration: none;
        }
        ul {
            margin-top: 0;
            margin-bottom: 9px;
        }

        .main_content {
            margin-top: 40px !important;
            font-size: larger;
        }
        .main_content h1 {
            margin-left: 40px;
            margin-bottom: 30px;
            padding-bottom: .3em;
            border-bottom: 1px solid #eee;
            font-size: xx-large;
        }
        .main_content h1 a {
            color: #333;
        }
        .main_content a {
            background: 0 0;
            text-decoration: none;
        }

        .doc-table td, th {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            padding-right: 8px !important;
        }

        .main_content p { margin-bottom: 30px; }

        .treeview .list-group-item {cursor:pointer}
        .treeview span.indent{margin-left:10px;margin-right:10px}
        .treeview span.icon{margin-right:5px}
        .treeview .node-disabled{color:silver;cursor:not-allowed}
        .node-treeview5{color:#428bca;}
        .node-treeview5:not(.node-disabled):hover{background-color:#F5F5F5;}



        .container-fluid:before,
        .container-fluid:after{
            content: " ";
            display: table;
        }
        .container-fluid:after {
            clear: both;
        }
        .container-fluid {
            margin-right: auto;
            margin-left: auto;
            padding-left: 15px;
            padding-right: 15px;
        }

        .list-group {
            margin-bottom: 20px;
            padding-left: 0;
        }
        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
        }
        .list-group-item:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        .list-group-item:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .glyphicon {
             position: relative;
             top: 1px;
             display: inline-block;
             font-family: 'Glyphicons Halflings';
             font-style: normal;
             font-weight: 400;
             line-height: 1;
             -webkit-font-smoothing: antialiased;
             -moz-osx-font-smoothing: grayscale;
        }
        .glyphicon b {
            font-size: x-large;
        }
        .badge {
             display: inline-block;
             padding: 2px 6px;
             min-height: 11px;
             font-size: 12px;
             font-weight: bold;
             color: #ffffff;
             line-height: 1;
             vertical-align: baseline;
             white-space: nowrap;
             text-align: center;
             background-color: #428bca;
             border-radius: 2px;
         }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid main_content">
        <h1>
            <a href="#title" name="title">{{title}} {{metamodel}} Documentation </a>
        </h1>
        <div class="container-fluid fields">
            <div id="treeview5" class="treeview">
                <ul class="list-group">
                    {{#entrySet}}
                        <li class="list-group-item node-treeview5" data-nodeid="0">
                            <span id="{{this.key}}" class="icon toggles expand-icon glyphicon minus" onclick="toggleView('{{this.key}}')"><b>-</b></span>
                            <span class="icon node-icon glyphicon"></span> {{this.key}}
                        </li>
                        {{#this.value}}
                            <li class="list-group-item node-treeview5 {{key}}">
                                <span class="indent"></span>
                                <span class="icon glyphicon"></span>
                                <span class="icon node-icon glyphicon badge"></span><a href="../metamodel/{{key}}/{{this}}.html" target="_blank">{{this}}</a>
                            </li>
                        {{/this.value}}
                    {{/entrySet}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    function toggleView (key) {
        var span= document.getElementById(key);
        var toClose= span.getAttribute("class").indexOf("minus") > -1;
        if (toClose) {
            span.className = span.className.replace("minus", "plus");
            span.innerHTML = '<b>+</b>'
        }
        else {
            span.className = span.className.replace("plus", "minus");
            span.innerHTML = '<b>-</b>'
        }
        var children= document.getElementsByClassName(key);
        for (var i=0; i< children.length ; i++) {
            var child= children[i];
            if (toClose) child.style.display = "none";
            else child.removeAttribute("style");
        }
    }
    function collapse() {
        var toggles = document.getElementsByClassName('toggles');
        for (var i=0; i< toggles.length ; i++) {
            var tog= toggles[i];
            toggleView(tog.id);
        }
    }
    window.onload= collapse;
</script>
</body>
</html>