<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

<link rel="icon" href="{{#favicon}}{{/favicon}}"/>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{#sha}}/sg/img/apple-touch-icon-iphone.png{{/sha}}"/>   <!-- Standard iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{#sha}}/sg/img/apple-touch-icon-iphone.png{{/sha}}"/> <!-- Retina iPhone -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{#sha}}/sg/img/apple-touch-icon-ipad.png{{/sha}}"/>     <!-- Standard iPad -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{#sha}}/sg/img/apple-touch-icon-ipad.png{{/sha}}"/>   <!-- Retina iPad -->

<link rel="stylesheet" href="{{#css-theme}}{{/css-theme}}" id="theme">
<link rel="stylesheet" href="{{#sha}}/sg/css/suigeneris.css{{/sha}}"/>
<link rel="stylesheet" href="{{#sha}}css/forms.less{{/sha}}"/>