<!DOCTYPE html>
<html sg-view="tekgenesis.authorization.Views" sg-messages="msg : tekgenesis.authorization.Messages">
<head>
    <title>{{msg.UNATHORIZED}}</title>
    {{>tekgenesis/authorization/head}}
</head>
<body>

<div class="container">
    <div class="alert alert-error">{{msg.UNATHORIZED}}</div>
</div>

</body>
</html>